/* CSS */

@font-face {
  	font-family: 'Glyphicons Halflings';

  	src: url('../fonts/glyphicons-halflings-regular.eot');
  	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  	position: relative;
  	top: 1px;
  	display: inline-block;
  	font-family: 'Glyphicons Halflings';
  	font-style: normal;
  	font-weight: normal;
  	line-height: 1;

  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.lectorrss {
	font: 12px Arial;
	height: 325px;
	border: 1px solid #005d8c;
}

.lectorrss h2 {
	font: bold 16px Helvetica,Arial;
	/*margin-bottom: 2px;
	color: #4780ad;*/
	background-color: #005d8c;
	color: white;
	margin: 0;
	padding: 4px 5px;
	box-shadow: 0px 0px 2px #292929;
}

.caja_rss_respuestas {
	/*height: 285px;*/
	height: 281px;
	overflow: auto;
}

.rss_respuesta {
	margin-bottom: 5px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
}

.rss_respuesta:nth-child(even) {
	background-color: #f4f3f5;
}

.rss_respuesta a {
	text-decoration: none;
	color: #005d8c;
}